/JavaKonuTekrari/target/
/UdemySorular/target/
/FaturaUygulamasi/target/
/otoparkYonetimOtomasyonu/target/
/BolgeselVeriAnalizSistemi/target/
/Iha_Sistemi_Class_Yapisi/target/
/e_ticaret_ve_sepet_yonetim_sistemi/target/
